/******************  Tags  *******************/
body,
html {
  width: 100vw;
  height: 100vh;
}
input {
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
}
input:focus {
  outline: none;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
}
li {
  list-style: none;
  list-style-position: outside;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}




/************************  NAVBAR  ***********************/
.navbar {
  width: 100%;
}
.navbar-wrap {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-wrap-btn {
  width: 30px;
  height: 30px;
  background-color: #000;
}
.navbar-wrap-logo {

}
.navbar-wrap-cart {
  width: 30px;
  height: 30px;
  background-color: #000;
}
.sub-navbar {
  width: 100%;
}
.sub-navbar-wrap {
  width: 100%;
}
.sub-navbar-wrap-location {}





/************************  NAVWRAP  ***********************/
.nav-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-wrap-list {
  width: 80%;
  padding: 0;
}
.nav-wrap-item {
  text-align: center;
}





/************************  HOME  ***********************/
.home {
  width: 100%;
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
}
/* home header */
  .home-header {
    width: 100%;
  }
  .home-header-carousel {
    width: 100%;
  }
  .home-header-carousel-list {
    width: 100%;
    padding: 0;
  }
  .home-header-carousel-item {
    width: 100%;
    height: 300px;
    background-color: #000;
  }
/* /home header */

/* home solgan wrap */
.home-solgan-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-slogan {

}
.home-guideBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-guideBtn-item {
  width: 150px;
  height: 30px;
  border: 1px solid #000;
}
/* /home solgan wrap */

/* home process wrap */
.home-process-wrap {
  width: 100%;
}
.home-process-video {
  width: 300px;
  height: 200px;
  border: 1px solid #000;
}
.home-process-flowchart {
  width: 100%;
}
.flowchart-item {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
}
/* /home process wrap */

.home-process-startBtn {
  width: 150px;
  height: 30px;
  border: 1px solid #000;
}
